.keyword {
  color: dodgerblue;
}

.block {
  color: yellow;
}

.punctuation {
  color: orangered;
}

.string {
  color: green;
}

.var {
  color:darkblue;
}

.hexadecimal {
  color: limegreen;
}

.float {
  color: limegreen;
}

.integer {
  color: limegreen;
}