.block {
  color: darkred;
}

.string {
  color: limegreen
}

.comment {
  color: orangered;
}

.var {
  color:darkblue;
}

.hexadecimal {
  color: limegreen;
}

.float {
  color: limegreen;
}

.integer {
  color: limegreen;
}

.keyword {
  color:dodgerblue;
}

.lang {
  color: black;
}
